.btn.btn-link {
  text-decoration: none;

  &:active {
    text-decoration: underline;
  }
}

button.icon-btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  line-height: 16px;
  height: 30px;

  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }
}

.btn:disabled {
  pointer-events: auto;
  cursor: not-allowed;
}
