.navbar {
  padding: 8px 30px 8px 50px;
  justify-content: space-between;

  .brand-img {
    max-height: 50px;
  }

  .logout-btn {
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

$switcher-container-height: 34px;
$switcher-extra: 6px;

.theme-switcher {
  position: relative;
  display: inline-block;
  width: 65px;
  margin-right: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border-radius: $switcher-container-height;

    &:before {
      position: absolute;
      content: '';
      height: calc($switcher-container-height + $switcher-extra);
      width: calc($switcher-container-height + $switcher-extra);
      inset: calc($switcher-extra / 2) 0 calc($switcher-extra / 2) 0;
      border-radius: 50%;
      background: url('../../assets/icons/night.png') no-repeat center;
      margin: auto 0;
      transition: 0.5s;
    }
  }

  input:checked + .slider {
    background-color: var(--primary);
  }

  input:checked + .slider:before {
    transform: translateX(-24px) rotate(-360deg);
    background: url('../../assets/icons/beach.png') no-repeat center;
  }
}
